<!doctype html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>header}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto main_header_left">
                <p>welcome to my app</p>
                <h1>I Am A <span>Mern Stack Devloper</span>, Student And A Freelancer</h1>
                <a href="/"><button>About Me</button></a>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>